@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<h1>Add A New Stylist</h1>

<div class="content">
  @using (Html.BeginForm())
  {
      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)

      @Html.LabelFor(model => model.Specialty)
      @Html.TextBoxFor(model => model.Specialty)

      @Html.LabelFor(model => model.Rate)
      @Html.TextBoxFor(model => model.Rate)
      <input type="submit" value="Add new stylist" class="btn"/>
  }
</div>

<div class="links">
  <p>@Html.ActionLink("Show all stylists", "Index")</p>
</div>
