@{
  Layout = "_Layout";
}
@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h1>Stylist Details</h1>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

<div class="content">
  <div class="client-list">
    <h3>Clients:</h3>
    @if (@Model.Clients.Count == 0)
    {
      <h3>No clients found</h3>
    }

    @foreach (Client client in @Model.Clients)
    {
      <h5>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</h5>
    }
  </div>
</div>

<div class="links">
  <p>@Html.ActionLink("Add client", "Create", "Clients", new { id = Model.StylistId})</p>
  <p>@Html.ActionLink("Back to stylists", "Index")</p>
  <p>@Html.ActionLink("Delete stylist", "Delete", new { id = Model.StylistId })</p>
</div>

