@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client

<h1>Add a new client</h1>

<p>@ViewBag.StylistId</p>
<div class="content">
  @using (Html.BeginForm("Details", "Stylists"))
  {
      @Html.Hidden("id", new { id = ViewBag.StylistId })

      @Html.LabelFor(model => model.Name)
      @Html.TextBoxFor(model => model.Name)

      <input type="submit" value="Add new client" class="btn" />
  }
</div>

<div class="links">
  <p>@Html.ActionLink("Back to stylist", "Details", "Stylists", new {id = ViewBag.StylistId} )</p>
</div>
